# node & bower
bower_components
node_modules
dist
package-lock.json

# dotenv
.env


# test or temp
test
test.*
tests
temp
src/temp
languages/*.php

# SublimeText workspace file
*.sublime-workspace

# Debug end Develop
*.sql

# Window OS
*.ini
*.inf
*.ico
*.zip
*.db

!.gitignore
