doctype html
- var versions = [ "2.1.7", "2.1.5", "2.1.4", "2.1.3", "2.1.1", "2.1.0", "2.0.0", "1.0.2", "1.0.0" ];
html(lang="en")
	head
		title
			|Плагин «Food File Uploader» для WordPress
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284")
		meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="color-scheme" content="only light")
		meta(name="theme-color" content="#ffffff")
		meta(name="title" content="Плагин «Food File Uploader» для WordPress")
		meta(name="description" content="Плагин `food-uploader-plugin` для WordPress CMS. Обслуживания директории `food` сайта школы. Актуально для сайтов школ РФ.")
		meta(name="keywords" content="food, food-uploader-plugin, component, joomla")
		meta(name="author" content="ProjectSoft")
		meta(name="og:url" content="")
		meta(property="og:type" content="website")
		meta(name="og:title" content="Плагин «Food File Uploader» для WordPress")
		meta(name="og:description" content="Плагин «Food File Uploader» для WordPress CMS. Обслуживания директории `food` сайта школы. Актуально для сайтов школ РФ.")
		meta(name="twitter:card" content="summary_large_image")
		link(rel="icon" type="image/png" href="/favicon.png" sizes="256x256")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="apple-mobile-web-app-title" content="Плагин «Food File Uploader» для WordPress")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-Black.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-Black.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-BlackItalic.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-BlackItalic.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-Bold.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-BoldItalic.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-ExtraBold.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-ExtraBoldItalic.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-ExtraLight.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-ExtraLightItalic.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-Italic.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-Light.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-LightItalic.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-Medium.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-MediumItalic.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-Regular.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-SemiBold.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-SemiBoldItalic.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-Thin.woff" as="font" type="application/font-woff" crossorigin="anonymous")
		link(rel="preload" href="https://projectsoft-studionions.github.io/food-uploader-plugin/assets/fonts/Lato-ThinItalic.ttf" as="font" type="font/truetype" crossorigin="anonymous")
		style
			include ../css/main.css