doctype html
- var versions = [ "2.1.8", "2.1.7", "2.1.5", "2.1.4", "2.1.3", "2.1.1", "2.1.0", "2.0.0", "1.0.2", "1.0.0" ];
html(lang="en")
	head
		title
			|Плагин «Food File Uploader» для WordPress
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE9")
		meta(charset="utf-8")
		meta(name="yandex-verification" content="ad6b0f0f478e9f72")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284")
		meta(name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="color-scheme" content="only light")
		meta(name="theme-color" content="#ffffff")
		meta(name="title" content="Плагин «Food File Uploader» для WordPress")
		meta(name="description" content="Плагин `food-uploader-plugin` для WordPress CMS. Обслуживания директории `food` сайта школы. Актуально для сайтов школ РФ.")
		meta(name="keywords" content="food, food-uploader-plugin, component, joomla")
		meta(name="author" content="ProjectSoft")
		meta(name="og:url" content="")
		meta(property="og:type" content="website")
		meta(name="og:title" content="Плагин «Food File Uploader» для WordPress")
		meta(name="og:description" content="Плагин «Food File Uploader» для WordPress CMS. Обслуживания директории `food` сайта школы. Актуально для сайтов школ РФ.")
		meta(name="twitter:card" content="summary_large_image")
		link(rel="icon" type="image/png" href="/favicon.png" sizes="256x256")
		link(rel="shortcut icon" href="/favicon.ico")
		meta(name="apple-mobile-web-app-title" content="Плагин «Food File Uploader» для WordPress")
		style
			include ../css/main.css
	body
		header
			div
				a(href="https://projectsoft-studionions.github.io/")
			div
				h1
					|Плагин «Food File Uploader» для WordPress CMS
				p
					|Плагин <code>food-uploader-plugin</code> для WordPress CMS. Обслуживание директории <code>food</code> сайта школы. Актуально для сайтов школ РФ.
			div
				a(href="https://github.com/ProjectSoft-STUDIONIONS/food-uploader-plugin" target="_blank")
					include github.svg
		main
			include logo-wordpress.svg
			h2
				|Описание
			div.description
				p
					|Плагин <code>food-uploader-plugin</code> для WordPress CMS разработан для обслуживание директории <code>food</code> на сайтах школ Российской Федерации.
				p
					|Установку плагина нужно провести через административную панель <strong>WordPress CMS</strong>.
				p
					|Скачать <a href="#last-version">последнюю версию</a> плагина для своей версии <strong>WordPress CMS</strong>.
				h3
					|Установка
				ul
					li
						|Войдите в административную панель WordPress.
					li
						|Перейдите в Плагины → Добавить новый.
					li
						|Загрузите скачанный файл плагина и установите его.
					li
						|Дождитесь завершения установки.
					li
						|Перейдите в Плагины и нажмите Активировать напротив плагина <strong>Food File Uploader</strong>.
				h3
					|Настройка
				p
					|Кнопка настройки плагина присутствует на странице плагина <strong>Меню ежедневного питания</strong> вправом верхнем углу.
				ul
					li
						|Директория <code>food</code> создаётся автоматически и присутствует всегда.
					li
						|Для дополнительных директорий (например, индивидуального питания) нужно перечислить директории, которые нужно создать.
					li
						|Так же вы можете настроить автоудаление старых файлов, при этом вы можете выбрать временной интервал от одного года до пяти лет. Т. е. если выбран один год, то вы сохраните файлы за текущей год и за прошлый включительно.
				p
					|Данная опция позволяет вам сэкономить объем используемого пространства выделенного системой вашего хост провайдера.
				p.text-center
					|<strong>Удачного использования плагина!</strong>
				h3.text-center
					|Постскриптум
				p
					|Если у вас возникли проблемы с плагином или вы хотите обновить вашу версию <strong>WordPress CMS</strong>, то, по вашему желанию, вы можете обратиться ко мне для последующего обсуждения действий - <a href="https://t.me/ProjectSoft" target="_blank"><em>@ProjectSoft</em></a>
			h2
				|Версии
			div.articles
				article#last-version
					head
						h3
							|Последняя версия
					div
						ul
							li
								div
									span
										|Для WordPress CMS
									span.text-right
										a.btn(href="https://github.com/ProjectSoft-STUDIONIONS/food-uploader-plugin/releases/latest/download/food-uploader-plugin.zip" download="food-uploader-plugin.zip")
											|Скачать
				each version in versions
					article
						head
							h3= version
						div
							ul
								li
									div
										span
											|Для WordPress CMS
										span.text-right
											a.btn(href="https://github.com/ProjectSoft-STUDIONIONS/food-uploader-plugin/releases/download/" + version + "/food-uploader-plugin.zip" download="food-uploader-plugin.zip")
												|Скачать
		footer
			p.text-center
				|©&nbsp;Copyright 2008&nbsp;–&nbsp;All
			p.text-center
				a(href="https://github.com/ProjectSoft-STUDIONIONS" target="_blank")
					|ProjectSoft
		//- {"ip":"109.169.161.65"}
		script(type="text/javascript")
			|window.params = {};
		script(type="text/javascript")
			|function getIP(json) {
			|	window.params.addr = json.ip
			|}
		script(type="text/javascript" src="https://api.ipify.org/?format=jsonp&callback=getIP" defer)
		// Yandex.Metrika counter
		script(type="text/javascript" defer)
			|setTimeout(() => {
			|	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(56381902, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true,ecommerce:"dataLayer",params: {addr: window.params.addr}});
			|}, 2000);
		noscript
			div
				img(src="https://mc.yandex.ru/watch/56381902" style="position:absolute; left:-9999px;" alt="")
		// /Yandex.Metrika counter