@charset "UTF-8";

// Bootstrap styles
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/mixins.less";
@import "../../bower_components/bootstrap/less/normalize.less";
@import "../../bower_components/bootstrap/less/glyphicons.less";
@import "../../bower_components/bootstrap/less/type.less";
@import "../../bower_components/bootstrap/less/code.less";
@import "../../bower_components/bootstrap/less/tables.less";
@import "../../bower_components/bootstrap/less/buttons.less";
@import "../../bower_components/bootstrap/less/alerts.less";
@import "../../bower_components/bootstrap/less/close.less";
@import "../../bower_components/bootstrap/less/utilities.less";

// Theme bootstarap styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  @shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  .box-shadow(@shadow);

  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    .box-shadow(none);
  }

  .badge {
    text-shadow: none;
  }
}

.btn-styles(@btn-color: #555) {
  #gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
  .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners; see https://github.com/twbs/bootstrap/issues/10620
  background-repeat: repeat-x;
  border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: darken(@btn-color, 12%);
    background-position: 0 -15px;
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: darken(@btn-color, 12%);
      background-image: none;
    }
  }
}

.btn {
  &:active,
  &.active {
    background-image: none;
  }
}

.btn-default {
  .btn-styles(@btn-default-bg);
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}

.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }


.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  @shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
  .box-shadow(@shadow);
}

.alert-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 7.5%));
  border-color: darken(@color, 15%);
}

.alert-success    { .alert-styles(@alert-success-bg); }
.alert-info       { .alert-styles(@alert-info-bg); }
.alert-warning    { .alert-styles(@alert-warning-bg); }
.alert-danger     { .alert-styles(@alert-danger-bg); }

// Custom styles
h1,
h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.btn {
	outline: unset !important;
}

.fancybox-container {
	z-index: 9999999 !important;
}

.display {
	&-flex {
		display: flex;
		flex-direction: row;
		gap: 1.3rem;
		&-help {
			flex: 1;
			.alert {
				margin-bottom: 10px;
				@media screen and (max-width: 678px) {
					margin-bottom: unset;
				}
			}
		}
		@media screen and (max-width: 678px) {
			flex-direction: column;
		}
	}
}

#food {
	&_plugin {
		min-height: ~'calc(100vh - 120px)';
		@media screen and (max-width: 782px) {
			min-height: ~'calc(100vh - 150px)';
		}
		p {
			font-size: 16px;
			&#p_uploads {
				font-size: 14px;
				font-family: monospace;
				white-space: pre;
				text-align: right;
				margin-bottom: 14px;
			}
		}
		dl {
			margin-bottom: 15px;
			margin-top: 15px;
		}
		table {
			.food {
				&-link {
					&-wrap {
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						gap: 1rem;
					}
				}
			}
			a {
				&.food-link {
					display: inline-flex;
					padding: 5px;
					border-radius: 50%;
					overflow: hidden;
					line-height: 1;
					user-select: none;
					& {
						color: #333;
						box-shadow: 0 0 2px #333;
						transition: all .3s ease;
					}
					&:hover {
						background-color: #fff;
						color: #f00;
						box-shadow: 0 0 4px #000;
					}
					&:focus {
						//box-shadow: inset 0 0 4px #000;
					}
					&:active {
						//box-shadow: 0 0 2px #333;
					}
					&,
					&:focus,
					&:focus-within,
					&:focus-visible,
					&:hover,
					&:active {
						outline: unset !important;
						outline-offset: unset !important;
						text-decoration: none !important;
					}
					&.food-view {
						&:hover {
							color: #00f;
						}
					}
					&.food-rename {
						&:hover {
							color: #00b200;
						}
					}
					* {
						pointer-events: none;
					}
				}
			}
		}
	}
}

#p_uploads {
	&:empty {
		&,
		~ p {
			display: none;
		}
	}
}

.text-pre {
  	white-space: pre;
	font-family: monospace;
	font-size: 16px;
}

form {
	&[name=upload_food] {
		display: flex;
		justify-content: flex-end;
	}
	&[name=modifed] {
		* {
			display: none;
		}
		input[type=submit]{
			display: block;
			width: 1px;
			height: 1px;
			font-size: 0px;
			padding: 0;
			margin: 0;
			background: transparent;
			border: transparent;
			outline: unset !important;
			background-image: unset;
		}
	}
}

#uploader {
	label {
		margin-bottom: 15px;
		padding-bottom: 4px;
		[type=file] {
			// Хак для того, чтобы был фркус
			width: 1px;
			height: 1px;
			font-size: 0px;
			padding: 0;
			margin: 0;
			background: transparent;
			border: transparent;
			outline: unset !important;
			background-image: unset;
		}
	}
}