@charset "UTF-8";
// Bootstrap styles
//@import "../../bower_components/bootstrap/less/variables.less";
//@import "../../bower_components/bootstrap/less/mixins.less";
//@import "../../bower_components/bootstrap/less/normalize.less";
//@import "../../bower_components/bootstrap/less/glyphicons.less";
//@import "../../bower_components/bootstrap/less/type.less";
//@import "../../bower_components/bootstrap/less/code.less";
//@import "../../bower_components/bootstrap/less/tables.less";
//@import "../../bower_components/bootstrap/less/buttons.less";
//@import "../../bower_components/bootstrap/less/alerts.less";
//@import "../../bower_components/bootstrap/less/close.less";
//@import "../../bower_components/bootstrap/less/utilities.less";
//@import "../../bower_components/bootstrap/less/pagination.less";
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	width: 100%;
}
@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/bootstrap/less/theme.less";
@import (inline) "../../bower_components/datatables.net-bs/css/dataTables.bootstrap.css";
@import (inline) "../../bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.css";

:root {
	--link-select-color: #efefef;
	--link-select-color-hover: #ffffff;
}

#wpbody {
	[class^="glyphicon-"],
	[class*=" glyphicon-"] {
		&:before,
		&:after {
			position: relative;
			display: inline;
			font-family: "Glyphicons Halflings";
			font-style: normal;
			font-weight: 400;
			line-height: 1.5;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&:after {
			margin-left: -0.5em;
		}
	}

	*, *::before, *::after {
		box-sizing: border-box;
	}

	table {
		tbody {
			tr {
				td {
					i.food-icon {
						margin-right: .5em;
					}
				}
			}
		}
	}

	.btn {
		outline: unset !important;
		gap: .4em;
		display: flex;
		background-image: none !important;
		position: relative;
		float: none;
		margin: unset;
		text-shadow: 1px 1px 2px #ffffff;
		align-items: center;
		&:hover,
		&:focus,
		&:active,
		&.active {
			background-image: none !important;
		}
		&.dt-dragdrop-block {
			min-height: 5.1em;
			align-items: center;
			justify-content: center;
			&::before,
			&::after {
				text-align: center;
				white-space: pre-wrap;
			}
			&::before {
				content: attr(data-title-before);
				text-align: center;
			}
		}
	}
	div.dt-buttons .btn.processing:after {
		position: absolute !important;
	}

	// Theme bootstarap styles
	// Buttons
	.btn-default,
	.btn-primary,
	.btn-success,
	.btn-secondary,
	.btn-info,
	.btn-warning,
	.btn-danger {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
		@shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
		.box-shadow(@shadow);

		&:active,
		&.active {
			.box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
		}

		&.disabled,
		&[disabled],
		fieldset[disabled] & {
			.box-shadow(none);
		}

		.badge {
			text-shadow: none;
		}
	}

	.btn-styles(@btn-color: #555) {
		//#gradient > .vertical(@start-color: @btn-color; @end-color: darken(@btn-color, 12%));
		.reset-filter();
		background-repeat: repeat-x;
		border-color: darken(@btn-color, 14%);

		&:hover,
		&:focus  {
			background-color: darken(@btn-color, 12%);
			background-position: 0 -15px;
		}

		&:active,
		&.active {
			background-color: darken(@btn-color, 12%);
			border-color: darken(@btn-color, 14%);
		}

		&.disabled,
		&[disabled],
		fieldset[disabled] & {
			&,
			&:hover,
			&:focus,
			&.focus,
			&:active,
			&.active {
				background-color: darken(@btn-color, 12%);
				background-image: none;
			}
		}
	}

	.btn-default {
		.btn-styles(@btn-default-bg);
		text-shadow: 0 1px 0 #fff;
		border-color: #ccc;
	}

	.btn-default   { .btn-styles(@btn-default-bg); }
	.btn-primary   { .btn-styles(@btn-primary-bg); }
	.btn-success   { .btn-styles(@btn-success-bg); }
	.btn-info      { .btn-styles(@btn-info-bg);    }
	.btn-warning   { .btn-styles(@btn-warning-bg); }
	.btn-danger    { .btn-styles(@btn-danger-bg);  }
	.btn-secondary { .btn-styles(@btn-default-bg); }
	.btn {
		&-default {
			border-color: #8c8f94;
		}
	}
	// Table
	.table {
		&-hover {
			> thead {
				> tr {
					background-color: #ffffff;
				}
			}
			> tbody {
				> tr {
					background-color: #ffffff;
					&:hover {
						background-color: #f0f0f1;
					}
				}
			}
		}
	}
	// Alerts
	.alert {
		text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
		@shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
		.box-shadow(@shadow);
	}

	.alert-styles(@color) {
		#gradient > .vertical(@start-color: @color; @end-color: darken(@color, 7.5%));
		border-color: darken(@color, 15%);
	}

	.alert-success    { .alert-styles(@alert-success-bg); }
	.alert-info       { .alert-styles(@alert-info-bg); }
	.alert-warning    { .alert-styles(@alert-warning-bg); }
	.alert-danger     { .alert-styles(@alert-danger-bg); }

	// Custom styles
	//h1,
	//h2, h3, h4, h5, h6 {
	//	font-weight: 700;
	//}
	.wrap {
		h1 {
			&,
			&.wp-heading-inline {
				font-size: 23px;
				font-weight: 400;
				margin: 0;
				padding: 9px 0 4px;
				line-height: 1.3;
				.dashicons {
					&,
					&-before {
						&,
						&::before {
							width: auto;
							height: auto;
							font-size: 115%;
						}
					}
				}
			}
		}
	}

	.fancybox-container {
		z-index: 9999999 !important;
	}

	.display {
		&-flex {
			display: flex;
			flex-direction: row;
			gap: 1.3rem;
			&-help {
				flex: 1;
				.alert {
					margin-bottom: 10px;
					@media screen and (max-width: 678px) {
						margin-bottom: unset;
					}
				}
			}
			&.wp-heading-title {
				justify-content: space-between;
				span {
					font-size: 23px;
					font-weight: 400;
					margin: 0;
					padding: 9px 0 4px;
					line-height: 1.3;
					.dashicons,
					.dashicons-before:before {
						width: auto;
						height: auto;
						font-size: 115%;
					}
					@media (max-width: 824px) {
						display: none;
					}
				}
			}
			@media screen and (max-width: 678px) {
				flex-direction: column;
			}
		}
	}

	#food {
		&_plugin {
			min-height: ~'calc(100vh - 120px)';
			@media screen and (max-width: 782px) {
				min-height: ~'calc(100vh - 150px)';
			}
			p {
				font-size: 16px;
				&#p_uploads {
					font-size: 14px;
					font-family: monospace;
					white-space: pre;
					text-align: right;
					margin-bottom: 14px;
				}
			}
			dl {
				margin-bottom: 15px;
				margin-top: 15px;
			}
			table {
				.food {
					&-link {
						&-wrap {
							display: flex;
							flex-direction: row;
							justify-content: flex-end;
							gap: 1rem;
						}
					}
				}
				a {
					&.food-link {
						display: inline-flex;
						padding: 5px;
						border-radius: 50%;
						overflow: hidden;
						line-height: 1;
						user-select: none;
						& {
							color: #333;
							box-shadow: 0 0 2px #333;
							transition: all .3s ease;
						}
						&:hover {
							background-color: #fff;
							color: #f00;
							box-shadow: 0 0 4px #000;
						}
						&:focus {
							//box-shadow: inset 0 0 4px #000;
						}
						&:active {
							//box-shadow: 0 0 2px #333;
						}
						&,
						&:focus,
						&:focus-within,
						&:focus-visible,
						&:hover,
						&:active {
							outline: unset !important;
							outline-offset: unset !important;
							text-decoration: none !important;
						}
						&.food-view {
							&:hover {
								color: #00f;
							}
						}
						&.food-rename {
							&:hover {
								color: #00b200;
							}
						}
						* {
							pointer-events: none;
						}
					}
				}
			}
		}
	}

	a {
		&,
		&:focus-visible,
		&:focus,
		&:hover {
			box-shadow: unset;
		}
		&[target=_blank] {
			&,
			&:focus-visible,
			&:focus,
			&:hover {
				text-decoration: none;
				outline: unset;
				outline-offset: unset;
			}
		}
	}
	.food {
		&-rename,
		&-delete {
			span {
				display: none;
			}
		}
	}

	#p_uploads {
		&:empty {
			&,
			~ p {
				display: none;
			}
		}
	}

	.text-pre {
		white-space: pre;
		font-family: monospace;
		font-size: 16px;
	}

	form {
		&[name=upload] {
			.clearfix();
			display: flex;
			justify-content: flex-end;
			text-align: right;
			width: 100%;
			input[type="file"] {
				display: none;
			}
			#p_uploads {
				margin-top: 10px;
				margin-bottom: 0;
				flex: 1 0 auto;
				&:empty {
					&,
					~ p,
					+ .btn {
						display: none;
					}
				}
				code {
					display: block;
					color: #112a4a;
					font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
					background-color: transparent;
					padding: unset;
					margin: unset;
				}
			}
			&:has( > p:empty ) {
				display: none;
			}
		}
		&[name=modifed] {
			* {
				display: none;
			}
			input[type=submit]{
				display: block;
				width: 1px;
				height: 1px;
				font-size: 0px;
				padding: 0;
				margin: 0;
				background: transparent;
				border: transparent;
				outline: unset !important;
				background-image: unset;
			}
		}
	}

	.food-row {
		//margin-left: -15px;
		//margin-right: -15px;
		&.row-disabled {
			margin-left: auto;
			margin-right: auto;
		}
	}
	table.dataTable {
		font-size: 112%;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		td.dt-empty,
		th.dt-empty {
			text-align: left;
		}
		thead {
			td, 
			th {
				font-family: -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
			}
		}
		tbody {
			td {
				vertical-align: middle;
				.flex {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					gap: 10px;
				}
				&:first-child {
					.glyphicon {
						margin-right: .6em;
					}
				}
				
			}
			tr {
				&.selected {
					td {
						a {
							color: var(--link-select-color, #efefef);
							&:hover,
							&:focus {
								color: var(--link-select-color-hover, #ffffff);
							}
						}
					}
				}
			}
		}
	}
	.pagination {
		margin: 0px 0px;
	}
	input[type=search]::-webkit-search-cancel-button,
	input[type=search]::-webkit-search-decoration {
		appearance: searchfield;
	}
	.pagination {
		> .disabled {
			> a,
			> span {
				&,
				&:focus,
				&:hover {
					color: #ddd;
				}
				&,
				&:focus,
				&:hover,
				&:active {
					outline: unset;
					outline-offset: unset;
				}
			}
		}
	}


	div.dt-container {
		div.dt-layout-row {
			flex: 1 0 auto;
			margin-top: 1em !important;
			margin-bottom: 1em !important;
			margin-left: -15px;
			margin-right: -15px;
			min-width: 100%;
			max-width: ~'calc(100% + 30px)';
		}
		.form-inline {
			flex-direction: column;
		}
	}
	div.dt-buttons span.dt-button-spacer {
		&:empty {
			display: none;
		}
	}
	div.dt-container div.dt-search,
	div.dt-container div.dt-length {
		label {
			align-items: center;
			justify-content: flex-end;
			padding-right: 0.3em;
		}
		input,
		select {
			flex: 1;
			margin-left: unset;
			margin-right: unset;
			max-width: 100%;
			width: 100%;
		}
	}

	div.dt {
		&-container {
			div.dt {
				&-layout {
					&-row {
						margin-top: 0em !important;
						margin-bottom: 0em !important;
						&:first-child {
							display: flex !important;
							//width: 100% !important;
							flex: 1 0 auto;
						}
						&.dt-layout-table {
							margin-top: .9em !important;
							margin-bottom: .9em !important;
						}
					}
				}
			}
		}
	}
	.btn-group-vertical,
	.btn-group {
		>.btn {
			float: none;
			&.buttons-collection {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				flex: 1 0 auto;
				&::after {
					content: "▼";
					flex: 1 0 auto;
					text-align: right;
				}
			}
		}
	}
	.dt {
		&-container {
			margin-top: 1em;
		}
		&-layout {
			&-row {
				flex-wrap: wrap;
				.btn {
					&-group {
						display: flex;
						flex: 1 0 auto;
						gap: .4em;
					}
				}
				&:first-child {
					align-items: self-end !important;
					@media (max-width: 991px) {
						gap: 0.6em;
					}
					.dt {
						&-layout {
							&-start,
							&-end {
								flex-direction: column !important;
								justify-content: center;
								display: flex !important;
								flex-wrap: wrap !important;
								gap: 0.6em !important;
								> * {
									margin: unset !important;
									flex: 1;
									width: 100%;
								}
								.dt-buttons {
									justify-content: flex-start;
									align-items: flex-start;
									gap: .6em;
									flex-wrap: wrap;
								}
								.dt-button {
									margin: unset !important;
									overflow: hidden;
									white-space: nowrap;
									display: block;
									text-overflow: ellipsis;
									.dt-button-down-arrow {
										margin-left: .5em;
									}
									.glyphicon {
										margin-right: .5em;
									}
								}
								@media screen and (max-width: 767px) {
									margin-bottom: unset;
								}
							}
							&-end {
								.btn-group.dt-buttons {
									display: flex;
									flex-direction: row;
									flex-wrap: wrap;
									justify-content: end !important;
								}
							}
						}
					}
				}
			}
			&-start {
				.dt {
					&-length,
					&-search {
						display: flex;
					}
				}
			}
		}
		&-paging {
			&-button {
				&, * {
					font-weight: 700;
				}
			}
			.page {
				&-item {
					&,
					* {
						line-height: 1;
						display: inline-flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						text-align: center;
					}
					.page {
						&-link {
							min-width: 3em;
							text-align: center;
						}
					}
				}
			}
		}
		&-buttons {
			.btn {
				&.food-icon {
					line-height: 1;
				}
			}
		}
		&-button {
			&-collection {
				padding: 1em;
			}
		}

	}

	div.dt-container div.dt-layout-row.dt-layout-table div.dt-layout-cell {
		max-width: 100%;
		overflow: auto;
	}
	div.dt-button-collection .dt-button {
		position: relative;
	}
	div[role="menu"] {
		display: flex;
		flex-direction: column;
		gap: 0;
		.btn {
			background-color: transparent;
			box-shadow: unset !important;
			border-radius: unset;
			text-transform: none;
			margin-left: -1em;
			margin-right: -1em;
			&:hover {
				background-color: #e3e3e3;
			}
		}
	}
	@media (max-width: 1199px) {
		div.dt-container > div.dt-layout-row {
			flex-wrap: wrap;
			gap: .6em;
		}
	}
	@media(max-width: 1128px) {
		div.dt-container > div.dt-layout-row {
			flex-wrap: wrap;
			gap: .6em;
		}
	}


}
.fancybox-container {
	z-index: 999999;
}

#TB {
	&_window {
		&,
		&.thickbox-loading,
		&.plugin-food-settings-modal {
			overflow: hidden;
			height: ~'calc(100vh - 70px)';
			margin-top: ~'calc(35px - 50vh)';
			visibility: visible;
			background-color: #fff;
		}
	}
	&_ajaxWindowTitle {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&_iframeContent {
		height: ~'calc(100% - 30px)';
	}
}

.dt-layout-start {
	.dt-search,
	.dt-length label {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		gap: 5px;
		flex-direction: row;
	}
}

.dt-info {
	.select-info {
		display: none !important;
		.select-item {
			display: none;
			&:first-child {
				display: block;
			}
		}
	}
}

div.dt-container {
	div.dt-layout-row {
		div.dt-layout-cell {
			&.dt-layout-end {
				flex-direction: column;
				align-items: flex-end;
				gap: .6em;
			}
		}
	}
}
